<div class="title"><h5>Dashboard <span style="margin-left:5px; margin-right:5px">&gt;</span> Role View</h5></div>

<div class="fluid">
	<div class="span6">
		<!-- Inbound Servers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowDown">Inbound Servers</h5>

				<div class="num"><a href="javascript:void(0)" class="<%= colorByServers(serversByRole('Inbound')) %>"><%= serversByRole('Inbound').length %> Servers</a></div>
			</div>
			<% _.each(serversByRole("Inbound"), function(stat, idx){ %>
			<div class="supTicket <% if(idx == 0) { %>nobg<% }; %>">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title=""><%= stat.hostname %></a></span>
					<span class="issueNum" style="margin-top:-1px;">
						<a href="#" title="" style="font-size:.8em;">[ <%= stat.workerId %> ]</a>
					</span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>
					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="<%= colorByStatus(stat.status) %>">[ <%= stat.status %> ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even"><%= prettyDate(stat.joinDate) %></li>
						</ul>
					</div>
				</div>
			</div>
			<% }); %>
		</div>

		<!-- Storage Writers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowDown">Storage Writers</h5>

				<div class="num"><a href="javascript:void(0)" class="<%= colorByServers(serversByRole('StorageWriter')) %>"><%= serversByRole('StorageWriter').length %> Servers</a></div>
			</div>
			<% _.each(serversByRole("StorageWriter"), function(stat, idx){ %>
			<div class="supTicket <% if(idx == 0) { %>nobg<% }; %>">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title=""><%= stat.hostname %></a></span>
					<span class="issueNum" style="margin-top:-1px;">
						<a href="#" title="" style="font-size:.8em;">[ <%= stat.workerId %> ]</a>
					</span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>
					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="<%= colorByStatus(stat.status) %>">[ <%= stat.status %> ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even"><%= prettyDate(stat.joinDate) %></li>
						</ul>
					</div>
				</div>
			</div>
			<% }); %>
		</div>

		<!-- Storage Servers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowUp">Storage Servers</h5>

				<div class="num"><a href="javascript:void(0)" class="<%= colorByServers(serversByRole('Storage')) %>"><%= serversByRole('Storage').length %> Servers</a></div>
			</div>
			<% _.each(serversByRole("Storage"), function(stat, idx){ %>
			<div class="supTicket <% if(idx == 0) { %>nobg<% }; %>">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title=""><%= stat.hostname %></a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>
					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="<%= colorByStatus(stat.status) %>">[ <%= stat.status %> ]</strong></li>
							<li>Up Since:</li>
							<li style="color:#2b6893;" class="even"><%= prettyDate(stat.joinDate) %></li>
						</ul>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>

	<div class="span6">
		<!-- Outbound Servers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowUp">Outbound Servers</h5>

				<div class="num"><a href="javascript:void(0)" class="<%= colorByServers(serversByRole('Outbound')) %>"><%= serversByRole('Outbound').length %> Servers</a></div>
			</div>
			<% _.each(serversByRole("Outbound"), function(stat, idx){ %>
			<div class="supTicket <% if(idx == 0) { %>nobg<% }; %>">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title=""><%= stat.hostname %></a></span>
					<span class="issueNum" style="margin-top:-1px;">
						<a href="#" title="" style="font-size:.8em;">[ <%= stat.workerId %> ]</a>
					</span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>
					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="<%= colorByStatus(stat.status) %>">[ <%= stat.status %> ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even"><%= prettyDate(stat.joinDate) %></li>
						</ul>
					</div>
				</div>
			</div>
			<% }); %>
		</div>

		<!-- Message Aggregators -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowDown">Aggregators</h5>

				<div class="num"><a href="javascript:void(0)" class="<%= colorByServers(serversByRole('Aggregator')) %>"><%= serversByRole('Aggregator').length %> Servers</a></div>
			</div>
			<% _.each(serversByRole("Aggregator"), function(stat, idx){ %>
			<div class="supTicket <% if(idx == 0) { %>nobg<% }; %>">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title=""><%= stat.hostname %></a></span>
					<span class="issueNum" style="margin-top:-1px;">
						<a href="#" title="" style="font-size:.8em;">[ <%= stat.workerId %> ]</a>
					</span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>
					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="<%= colorByStatus(stat.status) %>">[ <%= stat.status %> ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even"><%= prettyDate(stat.joinDate) %></li>
						</ul>
					</div>
				</div>
			</div>
			<% }); %>
		</div>
	</div>
</div>