<div class="title"><h5>Dashboard <span style="margin-left:5px; margin-right:5px">&gt;</span> Role View</h5></div>

<div class="fluid">
	<div class="span6">
		<!-- Inbound Servers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowDown">Inbound Servers</h5>

				<div class="num"><a href="javascript:void(0)" class="greenNum">3 Servers</a></div>
			</div>
			<div class="supTicket nobg">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>
					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="green">[ Running ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">35 days ago</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="supTicket">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="orange">[ Offline ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">10 hours ago</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Storage Writers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iShuffle">Storage Writers</h5>

				<div class="num"><a href="javascript:void(0)" class="redNum">3 Servers</a></div>
			</div>
			<div class="supTicket nobg">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="green">[ Running ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">35 days ago</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="supTicket">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="orange">[ Offline ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">10 hours ago</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="span6">
		<!-- Outbound Servers -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iArrowUp">Outbound Servers</h5>

				<div class="num"><a href="javascript:void(0)" class="blueNum">3 Servers</a></div>
			</div>
			<div class="supTicket nobg">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="green">[ Running ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">35 days ago</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="supTicket">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="orange">[ Offline ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">10 hours ago</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Message Aggregators -->
		<div class="widget" style="margin-top:20px;">
			<div class="head">
				<h5 class="iInbox2">Message Aggregators</h5>

				<div class="num">6 Servers</div>
			</div>
			<div class="supTicket nobg">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="green">[ Running ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">35 days ago</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="supTicket">
				<div class="issueType">
					<span class="issueInfo"><a href="#" title="">newzealand</a></span>
					<span class="issueNum" style="margin-top:-1px;"><a href="#" title="" style="font-size:.8em;">[
						0f8544f5-7544-4336-914c-922c74b665d8 ]</a></span>
				</div>
				<div class="issueSummary">
					<a href="#" title="" class="floatleft"><img src="images/computer.png" alt=""></a>

					<div class="ticketInfo">
						<ul>
							<li>Status:</li>
							<li class="even"><strong class="green">[ Running ]</strong></li>
							<li>Joined:</li>
							<li style="color:#2b6893;" class="even">35 days ago</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>