<script>
	_.defer(function (caller) {
		//===== Dynamic data table =====//
		oTable = $('#server_table').dataTable({
			"bJQueryUI":false,
			"bAutoWidth":false,
			"iDisplayLength":-1,
			"bPaginate":false,
			"bFilter":false
		});

		initGeneral();

	}, this);

</script>

<div class="title"><h5>Dashboard <span style="margin-left:5px; margin-right:5px">&gt;</span> Servers</h5></div>

<div class="table">
	<div class="head"><h5 class="iFrames">Server List</h5></div>
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="server_table">
		<thead>
		<tr>
			<th>Hostname</th>
			<th>Worker Id</th>
			<th>Roles</th>
			<th>Status</th>
			<th>Joined</th>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
