<script>
	_.defer(function (caller) {

		//===== Chart Auto Update =====//
		// we use an inline data source in the example, usually data would
		// be fetched from a server
		var data = [], totalPoints = 200;
		var data2 = [];
		var data3 = [];
		var data4 = [];

		function getRandomData() {
			if (data.length > 0)
				data = data.slice(1);

			// do a random walk
			while (data.length < totalPoints) {
				var prev = data.length > 0 ? data[data.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data.length; ++i)
				res.push([i, data[i]])
			return res;
		}

		function getRandomData2() {
			if (data2.length > 0)
				data2 = data2.slice(1);

			// do a random walk
			while (data2.length < totalPoints) {
				var prev = data2.length > 0 ? data2[data2.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data2.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data2.length; ++i)
				res.push([i, data2[i]])
			return res;
		}

		function getRandomData3() {
			if (data3.length > 0)
				data3 = data3.slice(1);

			// do a random walk
			while (data3.length < totalPoints) {
				var prev = data3.length > 0 ? data3[data3.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data3.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data3.length; ++i)
				res.push([i, data3[i]])
			return res;
		}

		// setup control widget
		var updateInterval = 1000;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1)
					updateInterval = 1;
				if (updateInterval > 2000)
					updateInterval = 2000;
				$(this).val("" + updateInterval);
			}
		});

		function percentFormatter(v, axis) {
			return v.toFixed(axis.tickDecimals) + "%";
		}

		function totFormatter(v, axis) {
			return v.toFixed(axis.tickDecimals) + "k";
		}

		function byteFormatter(v, axis) {
			return v.toFixed(axis.tickDecimals) + ' kb';
		}

		function ageFormatter(v, axis) {
			return v.toFixed(axis.tickDecimals) + 's';
		}


		// Inbound
		var inboundOptions = {
			xaxis:{ ticks: false },
			yaxes:[
				{
					min:0,
					position:"right",
					color:"#54cb4b",
					tickFormatter:totFormatter
				},
				{
					alignTicksWithAxis:1,
					position:"right",
					color:"#6db6ee",
					tickFormatter:byteFormatter
				},
				{
					min:0,
					max:100,
					position:"right",
					color:"#ee7951",
					tickFormatter:percentFormatter
				}
			],
			series:{
				lines:{ lineWidth:2 }
			}
		};

		var inboundPlot = $.plot($("#inbound"), [
			{ data:getRandomData() },{ data:getRandomData2() },{ data:getRandomData3() }
		], inboundOptions);


		// Aggregator
		var aggregatorOptions = {
			xaxis:{ ticks: false },
			yaxes:[
				{
					min:0,
					position:"right",
					color:"#54cb4b",
					tickFormatter:totFormatter
				},
				{
					alignTicksWithAxis:1,
					position:"right",
					color:"#6db6ee",
					tickFormatter:byteFormatter
				},
				{
					min:0,
					position:"right",
					color:"#ee7951",
					tickFormatter:ageFormatter
				}
			],
			series:{
				lines:{ lineWidth:2 }
			}
		};

		var aggregatorPlot = $.plot($("#aggregator"), [
			{ data:getRandomData() },{ data:getRandomData2() },{ data:getRandomData3() }
		], aggregatorOptions);



		// StorageWriter
		var storageWriterOptions = {
			xaxis:{ ticks: false },
			yaxes:[
				{
					min:0,
					position:"right",
					color:"#54cb4b",
					tickFormatter:totFormatter
				},
				{
					alignTicksWithAxis:1,
					position:"right",
					color:"#6db6ee",
					tickFormatter:byteFormatter
				},
				{
					min:0,
					position:"right",
					color:"#ee7951"
				}
			],
			series:{
				lines:{ lineWidth:2 }
			}
		};

		var storageWriterPlot = $.plot($("#storageWriter"), [
			{ data:getRandomData() },{ data:getRandomData2() },{ data:getRandomData3() }
		], storageWriterOptions);


		// Outbound
		var outboundOptions = {
			xaxis:{ ticks: false },
			yaxes:[
				{
					min:0,
					position:"right",
					color:"#54cb4b",
					tickFormatter:totFormatter
				},
				{
					alignTicksWithAxis:1,
					position:"right",
					color:"#6db6ee",
					tickFormatter:byteFormatter
				},
				{
					min:0,
					max:100,
					position:"right",
					color:"#ee7951"
				}
			],
			series:{
				lines:{ lineWidth:2 }
			}
		};

		var outboundPlot = $.plot($("#outbound"), [
			{ data:getRandomData() },{ data:getRandomData2() },{ data:getRandomData3() }
		], outboundOptions);


		// Update for all charts
		function update() {
			inboundPlot.setData([
				{ data:getRandomData(), color:"#54cb4b", label:"Messages Per/Sec" },
				{ data:getRandomData2(), color:"#6db6ee", label:"Avg Message Size", yaxis:2 },
				{ data:getRandomData3(), color:"#ee7951", label:"CPU %", yaxis:3 }
			]);
			inboundPlot.setupGrid();
			inboundPlot.draw();

			aggregatorPlot.setData([
				{ data:getRandomData(), color:"#54cb4b", label:"Messages In Queue" },
				{ data:getRandomData2(), color:"#6db6ee", label:"Queue Size", yaxis:2 },
				{ data:getRandomData3(), color:"#ee7951", label:"Queue Age (seconds)", yaxis:3 }
			]);
			aggregatorPlot.setupGrid();
			aggregatorPlot.draw();

			storageWriterPlot.setData([
				{ data:getRandomData(), color:"#54cb4b", label:"Messages Per/Sec" },
				{ data:getRandomData2(), color:"#6db6ee", label:"Bytes Per/Sec", yaxis:2 },
				{ data:getRandomData3(), color:"#ee7951", label:"Batches Being Written", yaxis:3 }
			]);
			storageWriterPlot.setupGrid();
			storageWriterPlot.draw();

			outboundPlot.setData([
				{ data:getRandomData(), color:"#54cb4b", label:"Messages Per/Sec" },
				{ data:getRandomData2(), color:"#6db6ee", label:"Avg Message Size", yaxis:2 },
				{ data:getRandomData3(), color:"#ee7951", label:"Active Queries", yaxis:3 }
			]);
			outboundPlot.setupGrid();
			outboundPlot.draw();

			setTimeout(update, updateInterval);
		}

		update();

	}, this);


</script>

<div class="title"><h5>Dashboard <span style="margin-left:5px; margin-right:5px">&gt;</span> Performance</h5></div>

<!-- Lines with fill -->
<div class="widget">
	<div class="head"><h5 class="iArrowDown">Inbound Messages</h5></div>
	<div class="body">
		<div id="inbound" class="autoUpdate"></div>
	</div>
</div>

<div class="widget">
	<div class="head"><h5 class="iInbox2">Message Aggregators</h5></div>
	<div class="body">
		<div id="aggregator" class="autoUpdate"></div>
	</div>
</div>

<div class="widget">
	<div class="head"><h5 class="iInbox2">Storage Writers</h5></div>
	<div class="body">
		<div id="storageWriter" class="autoUpdate"></div>
	</div>
</div>

<div class="widget">
	<div class="head"><h5 class="iArrowUp">Outbound Messages</h5></div>
	<div class="body">
		<div id="outbound" class="autoUpdate"></div>
	</div>
</div>

