<script>
	_.defer(function (caller) {
		initGeneral();
	}, this);


</script>

<div class="title"><h5>Dashboard <span style="margin-left:5px; margin-right:5px">&gt;</span> Performance</h5></div>

<!-- Lines with fill -->
<div class="widget">
	<div class="head"><h5 class="iArrowDown">Inbound Messages</h5></div>
	<div class="body">
		<div id="inbound" class="autoUpdate"></div>
	</div>
</div>

<div class="widget">
	<div class="head"><h5 class="iInbox2">Message Aggregators</h5></div>
	<div class="body">
		<div id="aggregator" class="autoUpdate"></div>
	</div>
</div>

<div class="widget">
	<div class="head"><h5 class="iInbox2">Storage Writers</h5></div>
	<div class="body">
		<div id="storageWriter" class="autoUpdate"></div>
	</div>
</div>

<div class="widget">
	<div class="head"><h5 class="iArrowUp">Outbound Messages</h5></div>
	<div class="body">
		<div id="outbound" class="autoUpdate"></div>
	</div>
</div>

