<script>
	_.defer(function (caller) {

		//===== Chart Auto Update =====//
		// we use an inline data source in the example, usually data would
		// be fetched from a server
		var data = [], totalPoints = 200;
		var data2 = [];
		var data3 = [];
		var data4 = [];

		function getRandomData() {
			if (data.length > 0)
				data = data.slice(1);

			// do a random walk
			while (data.length < totalPoints) {
				var prev = data.length > 0 ? data[data.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data.length; ++i)
				res.push([i, data[i]])
			return res;
		}

		function getRandomData2() {
			if (data2.length > 0)
				data2 = data2.slice(1);

			// do a random walk
			while (data2.length < totalPoints) {
				var prev = data2.length > 0 ? data2[data2.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data2.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data2.length; ++i)
				res.push([i, data2[i]])
			return res;
		}

		function getRandomData3() {
			if (data3.length > 0)
				data3 = data3.slice(1);

			// do a random walk
			while (data3.length < totalPoints) {
				var prev = data3.length > 0 ? data3[data3.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data3.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data3.length; ++i)
				res.push([i, data3[i]])
			return res;
		}

		function getRandomData4() {
			if (data4.length > 0)
				data4 = data4.slice(1);

			// do a random walk
			while (data4.length < totalPoints) {
				var prev = data4.length > 0 ? data4[data4.length - 1] : 50;
				var y = prev + Math.random() * 10 - 5;
				if (y < 0)
					y = 0;
				if (y > 100)
					y = 100;
				data4.push(y);
			}

			// zip the generated y values with the x values
			var res = [];
			for (var i = 0; i < data4.length; ++i)
				res.push([i, data4[i]])
			return res;
		}

		// setup control widget
		var updateInterval = 1000;
		$("#updateInterval").val(updateInterval).change(function () {
			var v = $(this).val();
			if (v && !isNaN(+v)) {
				updateInterval = +v;
				if (updateInterval < 1)
					updateInterval = 1;
				if (updateInterval > 2000)
					updateInterval = 2000;
				$(this).val("" + updateInterval);
			}
		});

		// setup plot
		var options = {
			yaxis:{ min:0, max:100 },
			xaxis:{ min:0, max:100 },
			colors:["#afd8f8"],
			series:{
				lines:{    lineWidth:2 }
			}
		};
		var plot = $.plot($(".autoUpdate"), [
			{ data:getRandomData(), label:"Inbound" },
			{ data:getRandomData2(), label:"Outbound" },
			{ data:getRandomData3(), label:"Aggregators" },
			{ data:getRandomData4(), label:"StorageWriters" }
		], options);

		function update() {
			plot.setData([
				{ data:getRandomData(), label:"Inbound" },
				{ data:getRandomData2(), label:"Outbound" },
				{ data:getRandomData3(), label:"Aggregators" },
				{ data:getRandomData4(), label:"StorageWriters" }
			]);
			// since the axes don't change, we don't need to call plot.setupGrid()
			plot.draw();

			setTimeout(update, updateInterval);
		}

		update();


	}, this);


</script>

<div class="title"><h5>Inbound <span style="margin-left:5px; margin-right:5px">&gt;</span> Overview</h5></div>

<!-- Lines with fill -->
<div class="widget">
	<div class="head"><h5 class="iGraph">CPU</h5></div>
	<div class="body">
		<div class="autoUpdate"></div>
	</div>
</div>

