<!-- Left navigation -->
<div class="leftNav">
	<ul id="menu">
		<li class="dash"><a href="#" title="" class="active leftNavLink"><span>Dashboard</span></a></li>
		<li class="graphs"><a href="#eventsin" title="" class="leftNavLink"><span>Events In</span></a></li>
		<li class="forms"><a href="#eventsout" title="" class="leftNavLink"><span>Events Out</span></a></li>
		<li class="login"><a href="#ropemgrs" title="" class="leftNavLink"><span>Rope Managers</span></a></li>
		<li class="typo"><a href="#collectors" title="" class="leftNavLink"><span>Collectors</span></a></li>
		<li class="tables"><a href="#storage" title="" class="leftNavLink"><span>Storage</span></a></li>
		<li class="errors"><a href="#errors" title="" class="leftNavLink"><span>Errors</span><strong>6</strong></a></li>
	</ul>
</div>