<!-- Left navigation -->
<div class="leftNav">
	<ul id="menu">
		<li class="dash"><a href="#" title="" class="active leftNavLink"><span>Dashboard</span></a></li>
		<li class="inbound"><a href="#inbound/overview" title="" class="leftNavLink"><span>Inbound Messages</span></a></li>
		<li class="inbox"><a href="#aggregator/overview" title="" class="leftNavLink"><span>Message Aggregators</span></a></li>
		<li class="shuffle"><a href="#writer/overview" title="" class="leftNavLink"><span>Storage Writer</span></a></li>
		<li class="storage"><a href="#storage/overview" title="" class="leftNavLink"><span>Message Store</span></a></li>
		<li class="outbound"><a href="#outbound/overview" title="" class="leftNavLink"><span>Outbound Messages</span></a></li>
		<li class="cluster"><a href="#cluster/overview" title="" class="leftNavLink"><span>Cluster Management</span></a></li>
		<li class="errors"><a href="#errors" title="" class="leftNavLink"><span>Errors</span><strong>6</strong></a></li>
	</ul>
</div>